.main-navigation {
	display: block;
	width: 100vw;
	

	ul {
		display: none;
		position : absolute;
		width : 100%;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: #000;
	
	

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}


			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
				li > a[href="#"]::after {
					content: "+";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				li.focus > a[href="#"]::after,
				li > a[href="#"]:hover::after {
                     content: "-";
				}
			}


			a {
				width: 200px;
			}


			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
			
		}

		li:hover > ul,
		li.focus > ul {
			left: 0;
		
		}


	}

	li {
		position: relative;
	 flex : 1;

		&:hover > a,
		&.focus > a {
		}
	

	}

	a {
		display: block;
		text-decoration: none;
		padding: .5rem;
		color: rgb(175, 159, 10);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}
/* -----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
	padding :0;
//	transition : transform .25s;
//	transform : rotate(0deg);
	border : 0;
}
.menu-toggle:hover,
.menu-toggle:focus {
    background: #fafbfc;
}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}

/*
.main-navigation.toggled .menu-toggle{
	transform : rotate(90deg);
}
*/

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
/* ---------------------------------------------------------------------------
menu tablet
------------------------------------------------------------------------------ */
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}
	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		position : static;
		justify-content: space-around;
		width: 100vw;
		padding-left: 10px;
           ul {
             position: absolute;
			 width: 210px;
			 height: 550px;
			 display: flex;
			 flex-direction: column;
			 align-items: flex-start;
			 justify-content: flex-start;
			 li {
				 a:hover { // a = nom des cours dans le menu nav
					color: rgb(117, 106, 8);
				 }
			 }
			 
		   }
		   
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
