body {
    width: 100vw;
    height: 100vh;
}

.site-title {
    text-align: center;
    font-size: clamp(3.5rem, 4rem, 4.5rem,);
    animation-name: animFont;
    animation-duration: 1s;
    a {
        text-decoration: none;
        color: rgb(175, 159, 10);
    }
    @keyframes animFont {
        from {
            font-size: 20%;
        }
        to {
            font-size: clamp(3.5rem, 4rem, 4.5rem,);
        }
    }
    
}

body {
    background-color: rgb(20, 32, 25);
    color: white;
}
body.home::after {
    width: 100%;
    height: 110%;
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 100% 100%);
    background-color: rgb(20, 20, 20);
        z-index: -1;
    @include desktop {
        clip-path: polygon(45% 0, 100% 0, 100% 100%, 100% 100%);
        background-color: rgb(20, 20, 20);
        z-index: -1;
    }
}
#boutonsCarrousel {
    text-align: center;
}
#un, #deux, #trois { //Boutons du carrousel
    background-color: rgb(33, 33, 49);
    color: rgb(175, 159, 10);
    border: 1px solid rgb(73, 72, 57);
    margin-top: 10px;
}
.liste-cours {
    display: flex;
    flex-direction: column; //Affichage sur la verticale
    section {
display: flex;
flex-direction: column;
flex-wrap: wrap;

    
    article { // Carrés contenant les infos de cours
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%; // À changer dans les querys
    border: 1px solid #aaa; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    p {
        font-size: .9rem;
        font-weight: bold;
    }
    a {
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: none;
        color: rgb(175, 159, 10);
    }
    a:hover {
        color: rgb(117, 106, 8);
    }
    }
}
}

